<h1>Collection#index</h1>


<h2>Your collections:</h2><br>

<% @collections.each do |collection| %>
  <%= link_to "#{collection.title}", collection_path(collection) %><br>

<% end %>

<br>
<%= link_to 'Create New Collection', new_collection_path %>


<p>Find me in app/views/collection/index.html.erb</p>
