

<p>
  <%= form_for([@collection, @item], :url => collection_item_path, method: :patch)  do |f| %>

  <%= render partial: 'form', :locals => {:f => f} %>

  <%= f.submit %>
  <% end %>
</p>

<%= link_to 'Back to Collection', collection_path(@item.collection_id) %>





